
html
{
    height: 100%;
}
.navbar-inverse .navbar-brand 
{
    font-family: Coiny  ;
    color: #eeefff;
    font-size: 1.7em; 
}
#sign
{
    font-size: 13px;
    
     
}
#log
{
    font-size: 13px;
}
#log1
{
    background-color: #292323;
}
.about
{
    font-family : Josefin Sans;
    
}
.navbar-btn
{
    font-family : Josefin Sans;

}
h1
{
    font-family: Coiny;
    font-size: 60px;
    
    color: black;
     -webkit-text-stroke: 1.2px white;
    

}
.content
{
    text-align: center;
    padding-top: 2%;
     color:black;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1);
    font-family: Acme ;
    
}
hr
{
    width:400px;
    border-top: 1px solid #f8f8f8;
    border-bottom :1px solid rgba(0,0,0,0.2);
}
.shifa
{
    padding: 50px;
    text-align: center;
    font-family: Acme;
    font-size: 18px;
    color:white;
    

    
}
.thumbnail
{
    background-color: #061210;
    padding-left: 12px;
    padding-right: 12px;
    
}
.someimage
{
    text-align: left;
    padding-top: 10px;
    font-size: 16px;
}body
{ background:url(https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    padding: 70px;
}
